<div class="row">
    <div data-ng-if="vm.isShow" class="settingPadding">
        <div class="panel panel-default container">
            <div class="panel-body">
                <span class="col-md-3" data-ng-repeat="type in vm.types">
                    <span>{{type}} count</span>
                    <input type="text" class="form-control" data-ng-class="vm.settings.color" data-ng-model="vm.settings.count[type]">
                </span>
            </div>

            <div class="panel-body">
                <p class="settingPadding">Date Preferrence
                    <i data-ng-class="{'fa fa-lock': !vm.settings.datePreferrence, 'fa fa-unlock': vm.settings.datePreferrence}"
                        data-ng-click="vm.toggleDatePreferrence()"></i>
                </p>
                <span class="col-md-4" data-ng-repeat="date in vm.dates" data-ng-if="vm.settings.datePreferrence">
                    <div>{{vm.settings.date[date].title}}</div>
                    <div class="dropdown">
                        <a class="dropdown-toggle"
                            role="button"
                            data-toggle="dropdown"
                            data-target="#"
                            href="#">
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-class="vm.settings.color" data-ng-model="vm.settings.date[date].value">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" data-aria-labelledby="dLabel">
                            <data-datetimepicker data-ng-model="vm.settings.date[date].value"></data-datetimepicker>
                        </ul>
                    </div>
                </span>
            </div>

            <div class="panel-body">
                <div class="settingPadding">Color Setting</div>
                <span class="settingPadding" data-ng-repeat="color in vm.colors">
                    <input type="radio" data-ng-model="vm.settings.color" value="{{color}}">
                    <span class="colorPadding" data-ng-class="color"></span>
                </span>
            </div>

        </div>
    </div>

    <div class="col-md-4" data-ng-if="vm.isShow">
        <button class="btn btn-default" data-ng-click="vm.confirmSetting()">
            <span class="glyphicon glyphicon-ok"></span>
            Confirm
        </button>
        <button class="btn btn-default" data-ng-click="vm.cancelSetting()">
            <span class="glyphicon glyphicon-remove"></span>
            Cancel
        </button>
    </div>

    <div class="col-md-4">
        <button class="btn btn-default" data-ng-if="!vm.isShow" data-ng-click="vm.enableSetting()">
            <span class="glyphicon glyphicon-cog"></span>
            Setting
        </button>
    </div>
</div>
<br />