<div class="alert alert-danger" data-ng-if="vm.errorMessage">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error: </span>
    {{vm.errorMessage}} 
</div>

<data-setting-panel data-save-setting="vm.reload()" data-settings="vm.settings"></data-setting-panel>

<div class="row">
    <div data-appdirect-packery="vm.packeryOptions"
        data-on-order="vm.onOrder($order)">
        <div class="appdirect-card-size"></div>
        <div class="appdirect-card-gutter"></div>
        <div id="{{vm.getIndex(type)}}"
            class="appdirect-card"
            data-ng-repeat="type in vm.twitterTypes"
            data-appdirect-widget="vm.packery">
            <div class="card-handle">
                <data-twitter-card data-items="vm.twitterCards[type]" data-color="{{vm.settings.color}}"></data-twitter-card>
            </div>
        </div>
    </div>
</div>
<span data-ng-if="vm.isLoading" data-us-spinner="{radius:10, width:8, length: 16, top: '30%', left: '30%'}"></span>