.main-content {
    margin-top: 50px;
}

.orange {
    background-color: antiquewhite;
}

.aliceblue {
    background-color: aliceblue;
}

.darkgray {
    background-color: darkgray; 
}

.setting-title {
    padding-left: 15px;
}

.color-bar {
    padding-left: 25px;
    border-style: groove;
    border-width: 0;
}

.card-header-override {
    margin-bottom: 15px;
}

.card-content {
    margin-top: 10px;
}

.card-display {
    display: inline-flex;
}

.img {
    margin-right: 26px;
}


.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}


@card-gutter: 10px;

.appdirect-card-gutter {
    width: @card-gutter;
}

.appdirect-card-size, .appdirect-card {
    width: 100%;
}

.appdirect-card:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}


@media (min-width: 1200px) {
    .appdirect-card-size, .appdirect-card {
        width: calc(~"33.33333333% - "@card-gutter);
    }
}