.orange {
    background-color: antiquewhite
}

.aliceblue {
    background-color: aliceblue
}

.darkgray {
    background-color: darkgray   
}

.settingPadding {
    padding-left: 15px;
}

.colorPadding {
    padding-left: 25px;
    border-style: groove;
    border-width: 0;
}